/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Questrial', sans-serif;
*/

.geral {
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  align-items: flex-start;
}

.conteudo {
  flex:1;
  background-color: lightgray;
  margin:10px;
  padding:10px;
}

.roles {
  background-color: #FFFFFF;
  border: solid 2px brown;
}
.cover {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.txtbox {
  margin-left: 5px;
  margin-right: 10px;
  width: 100px;
  float:right;
}
.alertas {
  background-color: rgba(249, 255, 0, 0.14);
  border:solid 2px yellow;
}
.alertasH {
  font-size: 20px;
  color: red;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px red;
  margin-bottom: 5px;

}
.contagem {
  padding:10px;
  white-space: pre
}
.random {
  color: blue;
}
.listagraveyard {
  display: none;
  position: absolute;
  background-color: gray;
  left: 0;
  padding:10px;
  margin-bottom: 10px;
  width: 400px;
}
.listaclaims {
  display: none;
  position: absolute;
  background-color: #98e698;
  right: 0;
  padding:10px;
  margin-bottom: 10px;
  width: 400px;
  border-radius: 10px;
  border: solid 2px black;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.add {
  position: relative;
  z-index: 2;
}
.add > a {
  padding:3px;
  background-color: #5cc55c;
  border:solid 1px black;
  display: inline-block;
}
}
.add > a:hover {
  background-color:#98e698;
}
.geral > * {
  min-width: 300px;
  max-width: 400px;
}
.crusaderman {
  background-color: white;
  border:solid 2px #9c0202;
}
.Ccrusaderman {
  background-image: url(assets/images/Crusader_Avatar.png);
  height: 500px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.crusadermanH {
  font-size: 20px;
  color: #9c0202;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px #9c0202;
  margin-bottom: 10px;
}
.lblgraveyard {
  display: block;
  padding:5px;
  margin:2px;
  border:solid 2px black;
  border-radius: 10px;
}
.lblgraveyard:hover {
  background-color: lightgray;
}
.roleheader {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding:7px;
}
.roleheader > div {
  position: relative;
}
.claimcustom {
  background-color: yellow;
  border-radius: 10px;
  margin:5px;
  padding:5px;
  display: inline-flex;
}
.claimcustom > input[type="text"]{
  margin-left: 10px;
}
.claimcustom > a {
  size:12px;
  margin-left: 5px;
  color:red;
}
.roleheaderH {
  font-size: 20px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  color:yellow;
  margin-left: 10px;
}
.textmuted {
  font-size: 12px;
  color: lightgray;
  margin-left: 5px;
}
.roleheader .texto {
  background-color: white;
  margin-right: 10px;
  padding:5px;
  float: right;
  cursor:pointer;
  color: black;
}
.roleheader .texto:hover {
  background-color: lightgray;
}
.rolesH {
  font-size: 20px;
  color: brown;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px brown;
  margin-bottom: 10px;
}
.claimsH {
  font-size: 20px;
  color: green;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px green;
  margin-bottom: 10px;
}
.claims {
  background-color: #98e698;
  border:solid 2px green;
}
.helloman {
  background-color: lightgray;
  border:solid 2px gray;
}
.hellomanH {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px white;
  margin-bottom: 10px;
}
.helloman > .flex > span {
  display: block;
  margin:2px;
  padding:5px;
  border-radius: 10px;
  border:solid 2px black;
  cursor: pointer;
}
.helloman > .flex > span:hover {
  background-color:gray;
}
.crusaderman > .Ccrusaderman > .flex >  span {
  display: block;
  margin:2px;
  padding:5px;
  border-radius: 10px;
  border:solid 2px black;
  cursor: pointer;
  color:#9c0202;
}
.crusaderman > .Ccrusaderman > .flex > span:hover {
  background-color: lightgray;
  color:#9c0202;
}
.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  color:white;
  padding:10px;
  z-index: 2;
}
.graveyardH {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px white;
  margin-bottom: 10px;
}
.graveyard {
  background-color: black;
  border: solid 2px gray;
  position: relative;
}
.conteudo input[type="checkbox"]{
  margin-right: 5px;
}
.conteudo label {
  display:block;
  margin-bottom: 3px;
}
.inno {
  color:green;
}
.maf {
  color:red;
}
.sk {
  color:blue;
}
.jest {
  color:pink;
}
.neut {
  color:gray;
}
.teste {
  background-color: yellow;
}
.alertasgerais {
  white-space: pre;
  padding:10px;
}
.alerta {
  position: fixed;
  left: 0;
  bottom:0;
  background-color: #7070e0;
  border:solid 2px black;
  margin:10px;
  padding:10px;
  border-radius: 10px;
}
.white {
  color:white;
}
.black {
  color:black;
}
