/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Questrial', sans-serif;
*/

.geral {
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
}

.conteudo {
  flex:1;
  background-color: lightgray;
  margin:10px;
  padding:10px;
}
.roles {
  background-color: #FFFFFF;
  border: solid 2px brown;
}
.cover {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.txtbox {
  margin-left: 5px;
  margin-right: 10px;
  width: 100px;
  float:right;
}
.alertas {
  background-color: rgba(249, 255, 0, 0.14);
  border:solid 2px yellow;
}
.alertasH {
  font-size: 20px;
  color: red;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px red;
  margin-bottom: 5px;

}
.contagem {
  padding:10px;
  white-space: pre
}
.random {
  color: blue;
}
.listagraveyard {
  display: none;
  position: absolute;
  background-color: gray;
  left: 0;
  padding:10px;
  margin-bottom: 10px;
  width: 400px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.add {
  position: relative;
}
.geral > * {
  min-width: 200px;
}
.lblgraveyard {
  display: block;
  padding:5px;
  margin:2px;
  border:solid 2px black;
  border-radius: 10px;
}
.lblgraveyard:hover {
  background-color: lightgray;
}
.roleheader {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding:7px;
}
.roleheader .texto {
  background-color: white;
  margin-right: 10px;
  padding:5px;
  float: right;
  cursor:pointer;
}
.rolesH {
  font-size: 20px;
  color: brown;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px brown;
  margin-bottom: 10px;
}
.claimsH {
  font-size: 20px;
  color: green;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px green;
  margin-bottom: 10px;
}
.claims {
  background-color: #98e698;
  border:solid 2px green;
}
.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  color:white;
  padding:10px;
  z-index: 2;
}
.graveyardH {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px white;
  margin-bottom: 10px;
}
.graveyard {
  background-color: black;
  border: solid 2px gray;
  position: relative;
}
.conteudo input[type="checkbox"]{
  margin-right: 5px;
}
.conteudo label {
  display:block;
  margin-bottom: 3px;
}
.inno {
  color:green;
}
.maf {
  color:red;
}
.sk {
  color:blue;
}
.jest {
  color:pink;
}
.neut {
  color:gray;
}
.teste {
  background-color: yellow;
}
.alertasgerais {
  white-space: pre;
  padding:10px;
}
